#title {
    position: fixed;
    margin: 2vh 2vw;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;

    font-size: 2vw;
    color: white;
    user-select: none;
}

.containerAuth {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
}

.containerAuth .log_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    /*margin-top: 30vh;
    padding-top: 5vh;*/
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 15vw;
    margin-top: 5%;
    margin-bottom: 5%;

    border-bottom: #222F2C;
    border-style: solid;
    border-width: 0px 0px 0.175vw 0px;
    outline: none;

    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #222F2C; 
}

input:focus {
    border-bottom: #CAB1BD;
    border-style: solid;
    border-width: 0px 0px 0.175vw 0px;
    transition: 0.3s;
}

#log_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15vw;
    height: 5.5vh;
    margin-top: 5%;
    margin-bottom: 5vh;
    background-color: #CAB1BD;
    border-radius: 2px;

    font-size: 1.25vw;
    font-weight: 700;
    color: #222F2C;
    user-select: none;  
}
#log_btn:hover {
    background-color: #C5AAB7;
    transition: 0.2s;
}
#create_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15vw;
    height: 5.5vh;
    margin-bottom: 5vh;
    background-color: #f5f5f5;
    border-radius: 2px;

    font-size: 1.25vw;
    font-weight: 700;
    color: #222F2C;
    user-select: none;  
}
#create_btn:hover {
    background-color: #ececec;
    transition: 0.2s;
}